/*@import url('lib/style/css/custom.css');*/

/*
body#tinymce.wp-editor {
	background: #e8e8e2;
}

body#tinymce.wp-editor h1, h2 {
	font-size: 2em;
	padding: .75em 0;
}

body#tinymce.wp-editor h3, h4, h5, h6 {
	font-size: 1em;
	padding: 1.5em 0;
}

.sectionhead	{
	font-size: 2em;
	font-weight: bold;
	padding: .75em 0;
}
.subhead			{
	font-weight: bold;
	padding: 1.5em 0;
}


html .mceContentBody { padding-left:2em; max-width: 610px; }
*/