// let's use hsla for all colors

// grape = hsla(267, 75%, 31%, 1)
grape = hsla(260, 37%, 28%, 1)
orange = #FF8F00
gold = #FFB300

accent = orange

// slate = hsla(228, 26%, 56%, 1)
// darkSlate = darken(slate, 25%)
// gold = hsla(50, 100%, 50%, 1)

grey = hsla(0, 0%, 50%, 1)
fog = hsla(0, 0%, 90%, 1)
magenta = hsla(313, 100%, 56%, 1)
featureCover = hsl(0, 0%, 20%, 1)
trans = transparent

charcoal = hsla(0, 0, 20%, 1)

.bgGrape
  background-color grape

.brownBg
  background-color brown

.colorBrown
  color brown
  text-shadow none

.greenBg
  background-color green

.fogBg
  background-color fog
