.gallery
  &__container
    display block

  &__wrapper
    display flex
    flex-flow row wrap
    width 100%

    +below(660px)
      flex-direction column
      //flex-flow nowrap
      align-items center
      justify-content center

  &__item
    color white
    display flex
    height 300px
    width calc(50% - 2rem)
    margin 1rem

    +below(660px)
      width 80%

  &__heading
    // color indigo
    font-size 4rem
    text-align center

    +below(660px)
      font-size 2.5rem

  &__button
    background-size cover
    //background-blend-mode overlay
    background-position center center
    background-repeat no-repeat
    border 10px solid white
    box-shadow none
    border-radius 0
    color green
    display flex
    align-items center
    justify-content center
    height 100%
    width 100%
    will-change transform
    transition transform .3s ease-in-out
    text-align center
    //position relative

    span
      background-color accent
      color white
      display block
      padding .5rem 1rem

      // position absolute
      // bottom -20px
      // left -20px

    &:hover
      border 10px solid white
      cursor pointer
      transform scale(1.05)

      span
        background-color grape
        border none
        color white

    &::after
      background-color transparent

.sideBySideGallery
  display flex
  align-items center
  flex-direction row

  +below(850px)
    flex-direction column
    //display block

  &__content
    flex 1
    padding 1rem 2rem

    +below(850px)
      padding 0
      text-align center

  &__heading
    color orange
    display inline-block
    padding 0
    margin 0
    font-size 2rem

    +below(550px)
      font-size 1.5rem    

    a:hover
      color grape
      text-shadow -1px 1px 0 white

  &__subheading
    padding 0
    text-shadow -1px 1px 0 grey

  .frame-border
    //flex 1
    margin 2rem 0

    +below(980px)
      width 300px

  .frame-inset
    +below(980px)
      padding 3.5rem 0
