.single-post .feature__layer
  height 50vh

.single-board .feature__layer,
.single-board .feature__container,
.single-staff .feature__layer,
.single-staff .feature__container
  height 50vh

  // +below(600px)
  //   height 30vh

.single-board .feature__heading,
.single-staff .feature__heading
  transform translateY(60px)

  +below(600px)
    transform: translateY(45px)


.feature
  &__layer
    height 100vh
    position relative
    -webkit-transform translate3d(0,0,0)
    background-repeat no-repeat
    background-size cover
    background-positon center

  &__container
    align-items center
    flex-direction column
    height 100vh
    max-width 100vw
    width 100vw
    justify-content flex-start
    //text-align center
    display flex
    align-items center
    background-color transparent
    position absolute
    z-index 1
    max-width 100%
    +ie11()
      z-index 0

  &__button
    font-size 2rem
    //text-shadow 1px 1px 0 black

  &__main
    display flex
    flex-direction column
    height 100%
    justify-content center
    align-items center
    padding 4rem 2rem
    max-width 100%


  &__main svg
    //margin 0 auto
    //width 120px
    width 100px
    // padding-bottom 2.5rem
    filter drop-shadow(-1px 1px 0px charcoal)

    +below(820px)
      width 120px

      +landscape()
        padding-top 2.5rem
        //width 80px
        width 150px

    +ie11()
      // height 200px
      // width 200px
      height 200px
      width 200px

    path
      fill white

  &__heading
    color white
    font-family: Condensed.font
    font-size 6rem
    padding 0
    text-align center
    text-shadow 1px 1px 0 black
    text-transform uppercase
    width 100%

    +below(600px)
      font-size 5rem

    +below(880px)
      +landscape()
        font-size 5rem

.home .feature
  &__container
    align-items flex-start

  &__heading
    color white
    font-family: Condensed.font
    font-size 6rem
    padding 0
    text-align left
    text-shadow 1px 1px 0 black
    text-transform uppercase
    width 100%

    +below(700px)
      font-size 5rem
      width 100%

    +below(600px)
      font-size 3rem
      width 100%

    +below(880px)
      +landscape()
        font-size 5rem

  &__main 
    align-items flex-start
    justify-content space-around
    
    +below(700px)
      padding-left 0
      padding-right 0

    svg
      //margin 0 auto
      //width 120px
      width 100px
      //padding-bottom 2.5rem
      filter drop-shadow(-1px 1px 0px charcoal)

      +below(820px)
        width 110px

        +landscape()
          padding-top 2.5rem
          //width 80px
          width 300px

      +ie11()
        // height 200px
        // width 200px
        height 400px
        width 400px

      path
        fill white

.feature__button
  +below(700px)
    font-size 1.5rem

.crossfade
  background-size cover
  background-position center center
  position absolute
  top 0
  left 0
  height 100vh
  width 100vw
  background-repeat no-repeat

  // &:nth-of-type(3)
  //   animation xfade 12s 0s infinite

  // &:nth-of-type(2)
  //   animation xfade 12s 4s infinite

  // &:nth-of-type(1)
  //   animation xfade 12s 8s infinite


// @keyframes xfade
//   0%
//     opacity 0

//   20%
//     opacity 1

//   33%
//     opacity 1

//   53%
//     opacity 0

//   100%
//     opacity 0
